* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D8EFD3;
}

.container {
    background-color: #55AD9B;
    padding: 40px;
    border-radius: 1rem;
    min-height: 40vh;
    width: 40vh;
}

form {
    margin: 2rem 0 2rem 0;
}

form input {
    background-color: #c2d6d2;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem
}

.amount p {
    padding-bottom: 0.7rem;

}

form input {
    border: 1px solid grey;
    height: 2rem;
    padding-left: 1rem;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.dropdown select {
    cursor: pointer;
}

.dropdown p {
    padding-bottom: 1rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #358e7d;
    width: 6rem;

}

.select-container img {
    max-width: 2rem;
}

.select-container select {
    font-size: 1rem;
}

i {
    margin-top: 1.80rem;
}

.msg {
    margin-top: 2rem;
    font-size: 1.15rem;
}

button {
    margin-top: 2rem;
    font-size: 1.05rem;
    height: 40px;
    cursor: pointer;
    background-color: #95D2B3;
}

@media(max-width:450px) {
    .container {
        min-height: 30vh;
        width: 30vh;
    }
}